.heading{
    text-align: center;
    color: rgb(2, 39, 27);
}
table{
    width: 100%;
    padding-left: 15%;
}
.main{
   border:1px solid black; 
   width: 50%;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: rgb(186, 220, 223);
   border-radius: 7px;
}
.main input{
    padding-top: 8px;
    padding-bottom: 8px;
    /* width: 70%; */
    border: 1px solid rgb(99, 116, 119);
}
.main textarea{
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid rgb(105, 126, 125);
}
.main button{
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid blue;
    color: blue;
    background-color: aliceblue;
}